*.pyc
.idea/
__pycache__/
policy_training/glider/glider2D.egg-info/
policy_training/glider/glider/__pycache__/
evaluateGlider_test.py
PPO_continuous.py
* - Kopie.py
archive/
*experiment*
*.rej
tools/matlab_export/mat_files/
matlab_export/*.pt
policy_evaluation/resultant_trajectory_iter_4000.png
policy_evaluation/Samples/*
